@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }

  /** ================================ BUTTON ======================================== */
  .btn-variable {
    /** DEFAULT COLOR */
    --default-color: rgba(224, 224, 224, 1);
    --default-color-light: rgba(174, 174, 174, 0.25);
    --default-color-dark: rgba(174, 174, 174, 1);
    --default-text: rgba(63, 63, 63, 1);
    --default-text-disabled: rgba(158, 158, 158, 1);
    --default-box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.2);
    /** PRIMARY COLOR */
    --primary-color: rgba(61, 90, 254, 1);
    --primary-color-light: rgba(41, 98, 255, 0.1);
    --primary-color-dark: rgba(0, 57, 203, 1);
    --primary-text: rgba(255, 255, 255, 1);
    --primary-text-disabled: rgba(255, 255, 255, 1);
    --primary-box-shadow: 0px 2px 3px 0px rgba(41, 98, 255, 0.2);
    /** SECONDARY COLOR */
    --secondary-color: rgba(69, 90, 100, 1);
    --secondary-color-light: rgba(28, 49, 58, 0.25);
    --secondary-color-dark: rgba(28, 49, 58, 1);
    --secondary-text: rgba(255, 255, 255, 1);
    --secondary-text-disabled: rgba(255, 255, 255, 1);
    --secondary-box-shadow: 0px 2px 3px 0px rgba(69, 90, 100, 0.2);
    /** DANGER COLOR */
    --danger-color: rgba(211, 47, 47, 1);
    --danger-color-light: rgba(154, 0, 7, 0.25);
    --danger-color-dark: rgba(154, 0, 7, 1);
    --danger-text: rgba(255, 255, 255, 1);
    --danger-text-disabled: rgba(255, 255, 255, 1);
    --danger-box-shadow: 0px 2px 3px 0px rgba(211, 47, 47, 0.2);
  }

  /**
   * SOLID BUTTON
   */

  /* default color */
  .btn {
    @apply inline-flex shrink-0 select-none flex-row flex-wrap content-center items-center gap-x-2 rounded-md bg-[--default-color] px-4 py-2 text-center text-sm font-medium text-[--default-text] shadow-[0px_2px_3px_0px_rgba(51,51,51,0.2)];
  }
  .btn:hover:not(:disabled),
  .btn:focus:not(:disabled) {
    @apply hover:bg-[--default-color-dark] focus:bg-[--default-color-dark];
  }
  .btn.hovered,
  .btn-focused {
    @apply bg-[--default-color-dark];
  }
  .btn:disabled {
    @apply text-[--default-text-disabled];
  }

  /* primary color */
  .btn.btn-primary {
    @apply bg-[--primary-color] text-[--primary-text] shadow-[0px_2px_3px_0px_rgba(41,98,255,0.2)];
  }
  .btn.btn-primary:hover:not(:disabled),
  .btn.btn-primary:focus:not(:disabled) {
    @apply hover:bg-[--primary-color-dark] focus:bg-[--primary-color-dark];
  }
  .btn.btn-primary.hovered,
  .btn.btn-primary.focused {
    @apply bg-[--primary-color-dark];
  }
  .btn.btn-primary:disabled {
    @apply text-[--primary-text-disabled];
  }

  /* secondary color */
  .btn.btn-secondary {
    @apply bg-[--secondary-color] text-[--secondary-text] shadow-[0px_2px_3px_0px_rgba(69,90,100,0.2)];
  }
  .btn.btn-secondary:hover:not(:disabled),
  .btn.btn-secondary:focus:not(:disabled) {
    @apply hover:bg-[--secondary-color-dark] focus:bg-[--secondary-color-dark];
  }
  .btn.btn-secondary.hovered,
  .btn.btn-secondary.focused {
    @apply bg-[--secondary-color-dark];
  }
  .btn.btn-secondary:disabled {
    @apply text-[--secondary-text-disabled];
  }

  /* danger color */
  .btn.btn-danger {
    @apply bg-[--danger-color] text-[--danger-text] shadow-[0px_2px_3px_0px_rgba(211,47,47,0.2)];
  }
  .btn.btn-danger:hover:not(:disabled),
  .btn.btn-danger:focus:not(:disabled) {
    @apply hover:bg-[--danger-color-dark] focus:bg-[--danger-color-dark];
  }
  .btn.btn-danger.hovered,
  .btn.btn-danger.focused {
    @apply bg-[--danger-color-dark];
  }
  .btn.btn-danger:disabled {
    @apply text-[--danger-text-disabled];
  }

  /**
   * OUTLINE BUTTON
   */

  /* default color */
  .btn.btn-outline {
    @apply border border-[--default-color] bg-transparent shadow-transparent;
  }
  .btn.btn-outline:hover:not(:disabled),
  .btn.btn-outline:focus:not(:disabled) {
    @apply hover:bg-[--default-color-light] focus:bg-[--default-color-light];
  }
  .btn.btn-outline.hovered,
  .btn.btn-outline.focused {
    @apply bg-[--default-color-light];
  }

  /* primary color */
  .btn.btn-outline.btn-primary {
    @apply border-[--primary-color] text-[--primary-color];
  }
  .btn.btn-outline.btn-primary:hover:not(:disabled),
  .btn.btn-outline.btn-primary:focus:not(:disabled) {
    @apply hover:bg-[--primary-color-light] focus:bg-[--primary-color-light];
  }
  .btn.btn-outline.btn-primary.hovered,
  .btn.btn-outline.btn-primary.focused {
    @apply bg-[--primary-color-light];
  }

  /* secondary color */
  .btn.btn-outline.btn-secondary {
    @apply border-[--secondary-color] text-[--secondary-color];
  }
  .btn.btn-outline.btn-secondary:hover:not(:disabled),
  .btn.btn-outline.btn-secondary:focus:not(:disabled) {
    @apply hover:bg-[--secondary-color-light] focus:bg-[--secondary-color-light];
  }
  .btn.btn-outline.btn-secondary.hovered,
  .btn.btn-outline.btn-secondary.focused {
    @apply bg-[--secondary-color-light];
  }

  /* danger color */
  .btn.btn-outline.btn-danger {
    @apply border-[--danger-color] text-[--danger-color];
  }
  .btn.btn-outline.btn-danger:hover:not(:disabled),
  .btn.btn-outline.btn-danger:focus:not(:disabled) {
    @apply hover:bg-[--danger-color-light] focus:bg-[--danger-color-light];
  }
  .btn.btn-outline.btn-danger.hovered,
  .btn.btn-outline.btn-danger.focused {
    @apply bg-[--danger-color-light];
  }

  /**
   * TEXT BUTTON
   */

  /* default color */
  .btn.btn-text {
    @apply border-transparent bg-transparent shadow-transparent;
  }
  .btn.btn-text:hover:not(:disabled),
  .btn.btn-text:focus:not(:disabled) {
    @apply hover:bg-[--default-color-light] focus:bg-[--default-color-light];
  }
  .btn.btn-text.hovered,
  .btn.btn-text.focused {
    @apply bg-[--default-color-light];
  }

  /* primary color */
  .btn.btn-text.btn-primary {
    @apply text-[--primary-color];
  }
  .btn.btn-text.btn-primary:hover:not(:disabled),
  .btn.btn-text.btn-primary:focus:not(:disabled) {
    @apply hover:bg-[--primary-color-light] focus:bg-[--primary-color-light];
  }
  .btn.btn-text.btn-primary.hovered,
  .btn.btn-text.btn-primary.focused {
    @apply bg-[--primary-color-light];
  }

  /* secondary color */
  .btn.btn-text.btn-secondary {
    @apply text-[--secondary-color];
  }
  .btn.btn-text.btn-secondary:hover:not(:disabled),
  .btn.btn-text.btn-secondary:focus:not(:disabled) {
    @apply hover:bg-[--secondary-color-light] focus:bg-[--secondary-color-light];
  }
  .btn.btn-text.btn-secondary.hovered,
  .btn.btn-text.btn-secondary.focused {
    @apply bg-[--secondary-color-light];
  }

  /* danger color */
  .btn.btn-text.btn-danger {
    @apply text-[--danger-color];
  }
  .btn.btn-text.btn-danger:hover:not(:disabled),
  .btn.btn-text.btn-danger:focus:not(:disabled) {
    @apply hover:bg-[--danger-color-light] focus:bg-[--danger-color-light];
  }
  .btn.btn-text.btn-danger.hovered,
  .btn.btn-text.btn-danger.focused {
    @apply bg-[--danger-color-light];
  }

  /**
   * BUTTON SIZE
   */

  /* small size */
  .btn.btn-sm {
    @apply px-3 py-1;
  }
  /* medium size */
  .btn.btn-md {
    @apply px-4 py-2;
  }
  /* large size */
  .btn.btn-lg {
    @apply px-5 py-3;
  }

  /**
   * BUTTON ICON
   */
  .btn .material-icons {
    @apply text-sm !important;
  }

  /**
   * SHADOW
   */

  .btn.no-shadow {
    @apply shadow-transparent;
  }

  /** =================================INPUT========================================= */
  .input-variable {
    /* default color */
    --input-default-text: rgba(51, 51, 51, 1);
    --input-default-text-placeholder: rgba(130, 130, 130, 1);
    --input-default-bg: rgba(242, 242, 242, 0);
    --input-default-bg-disabled: rgba(242, 242, 242, 1);
    --input-default-border: rgba(130, 130, 130, 1);
    --input-default-border-disabled: rgba(224, 224, 224, 1);
    --input-default-hover: rgba(51, 51, 51, 1);
    --input-default-focus: rgba(41, 98, 255, 1);
    /* error color */
    --input-error-text: rgba(51, 51, 51, 1);
    --input-error-text-placeholder: rgba(130, 130, 130, 1);
    --input-error-bg: rgba(242, 242, 242, 0);
    --input-error-bg-disabled: rgba(242, 242, 242, 1);
    --input-error-border: rgba(211, 47, 47, 1);
    --input-error-border-disabled: rgba(211, 47, 47, 1);
    --input-error-hover: rgba(51, 51, 51, 1);
    --input-error-focus: rgba(211, 47, 47, 1);
  }
  .input-icon-variable {
    /* default color */
    --icon-default-text: rgba(130, 130, 130, 1);
    --icon-default-hover: rgba(51, 51, 51, 1);
    --icon-default-focus: rgba(41, 98, 255, 1);
    /* error color */
    --icon-error-text: rgba(51, 51, 51, 1);
    --icon-error-hover: rgba(51, 51, 51, 1);
    --icon-error-focus: rgba(211, 47, 47, 1);
  }
  .input-label-variable {
    /* default color */
    --label-default-text: rgba(51, 51, 51, 1);
    --label-default-text-alt: rgba(130, 130, 130, 1);
    --label-default-hover: rgba(51, 51, 51, 1);
    --label-default-focus: rgba(41, 98, 255, 1);
    /* error color */
    --label-error-text: rgba(211, 47, 47, 1);
    --label-error-text-alt: rgba(211, 47, 47, 1);
    --label-error-hover: rgba(51, 51, 51, 1);
    --label-error-focus: rgba(211, 47, 47, 1);
  }

  .input-group {
    @apply relative inline-block w-full md:w-min;
  }
  .input-group.full-width {
    @apply w-full md:w-full;
  }

  /**
   * INPUT
   */

  /* default color */
  .input {
    @apply w-full rounded-lg border border-[--input-default-border] px-3 py-4 text-sm font-medium placeholder:text-sm placeholder:text-[--input-default-text-placeholder] md:w-[unset];
  }
  .input:hover:not(:disabled) {
    @apply hover:border-[--input-default-hover];
  }
  .input:focus:not(:disabled) {
    @apply focus:border-[--input-default-focus] focus:outline-none focus:ring-0 focus:ring-[--input-default-focus];
  }
  .input.hovered {
    @apply border-[--input-default-hover];
  }
  .input.focused {
    @apply border-[--input-default-focus];
  }
  .input:disabled {
    @apply border-[--input-default-border-disabled] bg-[--input-default-bg-disabled];
  }

  /**
   * INPUT ERROR
   */
  .input.input-error {
    @apply border-[--input-error-border];
  }
  .input.input-error:focus:not(:disabled) {
    @apply focus:border-[--input-error-border] focus:outline-none focus:ring-0 focus:ring-[--input-error-border];
  }
  .input.input-error.hovered {
    @apply border-[--input-error-hover];
  }
  .input.input-error.focused {
    @apply border-[--input-error-focus];
  }
  .input.input-error:disabled {
    @apply bg-[--input-error-bg-disabled];
  }

  /**
   * INPUT SIZE
   */

  /* small size */
  .input.input-sm {
    @apply px-3 py-2;
  }
  /* medium size */
  .input.input-md {
    @apply px-3 py-4;
  }
  /* large size */
  .input.input-lg {
    @apply px-3 py-6;
  }

  /**
   * INPUT COMPONENT
   */

  /* full width */
  .input.full-width {
    @apply w-full md:w-full;
  }
  /* icon start */
  .input.icon-start {
    @apply pl-10;
  }
  /* icon end */
  .input.icon-end {
    @apply pr-10;
  }

  /**
   * INPUT LABEL
   */

  /* default color */
  .label {
    @apply flex select-none items-center justify-between;
  }
  .label-text {
    @apply text-xs text-[--label-default-text] group-focus-within/input:text-[--label-default-focus] group-[.focused]/input:text-[--label-default-focus];
  }
  .label-text-alt {
    @apply text-[0.625rem] text-[--label-default-text-alt];
  }

  /* error color */
  .label-text.label-error {
    @apply text-[--label-error-text] group-focus-within/input:text-[--label-error-focus] group-[.focused]/input:text-[--label-error-focus] group-[.hovered]/input:text-[--label-error-hover];
  }
  .label-text-alt.label-error {
    @apply text-[--label-error-text-alt];
  }

  /** INPUT ICON */
  .input-icon {
    @apply pointer-events-none absolute top-1/2 h-5 w-5 -translate-y-1/2 transform text-[--icon-default-text] group-focus-within/input:text-[--icon-default-focus] group-[.focused]/input:text-[--icon-default-focus];
  }
  .input-icon.input-icon-error {
    @apply text-[--icon-error-text] group-focus-within/input:text-[--iconn-error-focus] group-[.focused]/input:text-[--icon-error-focus] group-[.hovered]/input:text-[--icon-error-hover];
  }
  .input-icon.start {
    @apply left-3;
  }
  .input-icon.end {
    @apply right-3;
  }
}
